@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Urbanist:wght@400;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  font-size: 1.25rem;
  font-family: Urbanist, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  word-spacing: 3.2px;
  background: #000;
  color: #ebebeb;
  overflow-x: hidden;
}

h1 {
  font-family: Playfair Display, "Times New Roman", Times, serif;
  font-size: 48px;
  line-height: 1.25;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  overflow-y: hidden;
}

h1 span {
  display: inline-block;
  margin-right: 16px;
  /* mix-blend-mode: exclusion; */
}

.home {
  position: relative;
}

.home-ctn {
  position: relative;
  max-width: 1200px;
  height: 100vh;
  padding: 144px 1rem 1rem 1rem;
  margin: 0 auto;
  box-shadow:  inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
}

.home-bg-img-ctn {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(./img.jpg) center no-repeat;
  background-size: cover;
  /* clip-path: polygon(47% 0, 100% 0, 100% 100%, 0 100%); */
  clip-path: polygon(100% 0, 100% 100%, 19% 64%, 0 0);
  opacity: 0.4;
  filter: blur(16px);
  z-index: -10;
}

@media (min-width: 1000px) {
  .home-ctn {
    padding-top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .home-text-ctn {
    width: 50%;
  }
}
